@use '../../../styles/vars';

.single-page {
  &__comic-img {
    width: 294px;
    height: 450px;
    object-fit: cover;
  }
  &__comic-info {
    width: 550px;
  }
  &__comic-title {
    @extend %title;
    text-transform: none;
    margin-bottom: 28px;
  }
  &__comic-desc {
    margin-bottom: 25px;
    font-size: 18px;
  }
  &__comic-price {
    font-weight: 700;
    font-size: 24px;
    color: vars.$red;
  }
  &__comic-back {
    font-weight: 700;
    font-size: 18px;
    flex-grow: 1;
    text-align: end;
  }
  &__comic-back:hover {
    color: vars.$red;
  }
}
